@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
.nav {
  height: "100%";
  width: "100%";
  background-color: #0b2a3a;
  .logo {
    font-family: "Monoton", cursive;
    color: #f0a500;
  }
  .lead{
      color: #DAB88B;
      font-family:"'El Messiri', sans-serif" ;
  }
}
