.backColor {
	background-color: #f8f8f7;
	width: 100vw;
	height: auto;
}
.backColors {
  background-color: #fff;
	color: #091b29;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}
.bgImg {
	border-radius: 20px 0px 0px 20px;
	max-width: 50px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.inputWidth {
  background-color: #fff !important;
	border-top: 0 !important;
	border-right: 0!important;
	height: 40px !important;
}
///product
.centerDiv {
	position: absolute;
	background-color: transparent;
	left: 25%;
	top: 44%;
	transform: translate(0, -50%);
}
.btnSubmit{
  background-color: transparent !important;
  color: #091b29 !important;
  border: 1px #091b29 solid !important;
 
}
.btnSubmit:hover {
  background-color: transparent !important;
  color: #f0a500 !important;
  border: 1px #f0a500 solid !important;
}
.dropZone{
	background-color: #fff;
	color: #091b29;
  margin-left: 7rem;
  margin-right: 7rem;
	border-radius: 10px;
	text-align: center;
	height: auto;
	border: 1px dashed #8f8f8f;
}
.option:checked
{
	background-color: #f8f8f7 !important;
}
.textWarning{
  color:#f0a500 !important;
  text-align: center !important;
  }