.smaller{
    font-size: 0.7rem;
}

.w-15{
    width: 15% !important;
}

.h-84{
    min-height: 84% !important;
}

.text-font{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder !important;
}