.Ordertable {

  th {
    color: gray !important;
    font-size: 0.9rem;
  }
  tbody {
    tr {
      border: 0px solid transparent;
      &:hover{
          background-color: aliceblue;
      }
      td {
        height: 50px;
        font-weight: 500;
        font-size: 0.8rem;
        label {
          color: black !important;
        }
        span {
          width: 70px;
        }
      }
    }
  }
}
