.smaller{
    font-size: 0.7rem;
}

.text-font{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder !important;
}

.w-2-5{
    width: 2.7%
}

.Xmark-font{
    font-size: 1.3rem;
}