// @import url('//fonts.googleapis.com/css?family=Pacifico&text=Pure');
// @import url('//fonts.googleapis.com/css?family=Roboto:700&text=css');
// @import url('//fonts.googleapis.com/css?family=Kaushan+Script&text=!');

// .body { 
//   min-height: 450px;
//   height: 100vh;
//   margin: 0;
//   background: radial-gradient(circle, darken(dodgerblue, 10%), #1f4f96, #1b2949, #000);
// }

// .stage {
//   height: 300px;
//   width: 500px;
//   margin: auto;
//   position: absolute;
//   top: 0; right: 0; bottom: 0; left: 0;
//   perspective: 9999px;
//   transform-style: preserve-3d;
// }

// .layer {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   transform-style: preserve-3d;
//   animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
//   animation-fill-mode: forwards;
//   transform: rotateY(40deg) rotateX(33deg) translateZ(0);
// }

// .layer:after {
//   font: 150px/0.65 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
//   content: '404  :( \A   Page not\A Found';
//   white-space: pre;
//   text-align: center;
//   height: 100%;
//   width: 100%;
//   position: absolute;
//   top: 50px; 
//   color: darken(#fff, 4%);
//   letter-spacing: -2px;
//   text-shadow: 4px 0 10px hsla(0, 0%, 0%, .13);
// }

// $i: 1;
// $NUM_LAYERS: 20;
// @for $i from 1 through $NUM_LAYERS {
//   .layer:nth-child(#{$i}):after{
//     transform: translateZ(($i - 1) * -1.5px);
//   }
// }

// .layer:nth-child(n+#{round($NUM_LAYERS/2)}):after {
//   -webkit-text-stroke: 3px hsla(0, 0%, 0%, .25);
// }

// .layer:nth-child(n+#{round($NUM_LAYERS/2 + 1)}):after {
//   -webkit-text-stroke: 15px dodgerblue;
//   text-shadow: 6px 0 6px darken(dodgerblue,35%),
//                5px 5px 5px darken(dodgerblue,40%),
//                0 6px 6px darken(dodgerblue,35%);
// }

// .layer:nth-child(n+#{round($NUM_LAYERS/2 + 2)}):after {
//   -webkit-text-stroke: 15px darken(dodgerblue, 10%);
// }

// .layer:last-child:after {
//     -webkit-text-stroke: 17px hsla(0, 0%, 0%, .1);
// }

// .layer:first-child:after{
//   color: #fff;
//   text-shadow: none;
// }

// @keyframes ಠ_ಠ {
//   100% { transform: rotateY(-40deg) rotateX(-43deg); }
// }

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  // margin: 20px 15px;
  padding-top: 100px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #FFB485;
}
.error-container > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.error-container > span:nth-of-type(1) {
  color: #D1F2A5;
  animation: colordancing 2s infinite;
}
.error-container > span:nth-of-type(3) {
  color: #F56991;
  animation: colordancing2 2s infinite;
}
.error-container > span:nth-of-type(2) {
  width: 120px;
  height: 120px;
  border-radius: 999px;
}
.error-container > span:nth-of-type(2):before,
.error-container > span:nth-of-type(2):after {
	border-radius: 0%;
	content:"";
	position: absolute;
	top: 0; left: 0;
	width: inherit; height: inherit;
  border-radius: 999px;
	box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 #f5699166;
  animation: shadowsdancing 2s infinite;
}
.error-container > span:nth-of-type(2):before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
			transform: rotate(45deg);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
@keyframes shadowsdancing {
  0% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
  25% {
    box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4),
				inset 0 30px 0 rgba(209, 242, 165, 0.4),
				inset -30px 0 0 rgba(239, 250, 180, 0.4),	
				inset 0 -30px 0 rgba(255, 196, 140, 0.4);
  }
  50% {
     box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4),
				inset 0 30px 0 rgba(245, 105, 145, 0.4),
				inset -30px 0 0 rgba(209, 242, 165, 0.4),	
				inset 0 -30px 0 rgba(239, 250, 180, 0.4);
  }
  75% {
   box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4),
				inset 0 30px 0 rgba(255, 196, 140, 0.4),
				inset -30px 0 0 rgba(245, 105, 145, 0.4),	
				inset 0 -30px 0 rgba(209, 242, 165, 0.4);
  }
  100% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
}
@keyframes colordancing {
  0% {
    color: #D1F2A5;
  }
  25% {
    color: #F56991;
  }
  50% {
    color: #FFC48C;
  }
  75% {
    color: #EFFAB4;
  }
  100% {
    color: #D1F2A5;
  }
}
@keyframes colordancing2 {
  0% {
    color: #FFC48C;
  }
  25% {
    color: #EFFAB4;
  }
  50% {
    color: #D1F2A5;
  }
  75% {
    color: #F56991;
  }
  100% {
    color: #FFC48C;
  }
}

/* demo stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.body {
  background-color: black !important;
  // margin-bottom: 50px;
  height: 100vh;
}
.zoom-area { 
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}




