.cardPrd{
    border: none !important;
    background-color: #f8f8f7 !important;
  }
  
.active1{
  border-bottom: 2px solid #091b29 !important;
  color: #091b29 !important;
}
.pageLink{
  border: none!important;
  background-color: #f8f8f7 !important;
  color: #091b29 !important;
  font-size: larger !important;
}
.pageItem{
  background-color: #f8f8f7 !important;
  color: #091b29 !important;
}
.paginationContainer {
  color: #091b29;
  background-color: transparent!important;
  }
.bgColor{
  background-color: #f8f8f7 !important;
}
.addBtn{
  background-color: #091b29 !important;
  color: #f8f8f7 !important;
  border: 1px #091b29 solid !important;
}

/* .addBtn:hover {
  background-color: transparent !important;
  color: #091b29 !important;
  border: 1px #091b29 solid !important;
}  */


@media (max-width: 575.98px) { 
  .cardPrd{
    margin: auto;
    width: 75% !important;
  }
 }