
.resetPassword-container{
  background-image: url("./../../assets/imgs/landing page/bg-1.jpeg") !important;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  background-position-x: 100%;
  background-position-y: 65%;
  width: 100%;
   height: 100vh;
  font-family: 'Source Serif Pro', serif !important;
  
.btn-submit {
  background-color: transparent !important;
  color: #f8f8f7 !important;
  border: 1px #f8f8f7 solid !important;
}
.btn-submit:hover {
  background-color: transparent !important;
  color: #ffc107 !important;
  border: 1px #ffc107 solid !important;
} 
.modal-container{
  background-color: rgba($color: #091b29, $alpha: .75) !important;
  color: #f0a500 !important;
  /* border: 1px white solid !important; */

} 
.btn-close{
  background-color: #f8f8f7;
  color: #f8f8f7 !important;
}
.reset{
  background-color: rgba($color:#091b29,$alpha: .5) !important;;
 
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
 }
