.divPrd{
margin: 0 10rem;
}
.divLeftCard{
    border-right: 2px dotted rgb(219, 219, 219);
}
.cardOrder{
border-radius: 20px !important;
margin: 20px 50px !important;
}
.imgSEller{
    width: 4rem;
    height: 4rem;
}
@media (max-width: 987px) {
    .divLeftCard { 
        border: 0px !important;
     }
    }