.divPrd{
margin: 0 10rem;
}
.divLeftCard{
    border-right: 2px dotted rgb(219, 219, 219);
}
.cardOrder{
border-radius: 20px !important;
margin: 20px 50px !important;
width: 85% !important;
}
.OffCanvas{
    width: 550px!important;
    background-color: #fff!important;
    color: #091b29 !important;
}
.chatIcon{
    &:hover{
        cursor: pointer !important;
        color: rgb(58, 58, 251);
    }
}
.imgSEller{
    width: 4rem;
    height: 4rem;
}
@media (max-width: 987px) {
    .divLeftCard { 
        border: 0px !important;
     }
    }
