
.signuppage-container{
  background-image: url("./../../assets/imgs/landing page/bg-1.jpeg") !important;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  background-position-x: 100%;
  background-position-y: 65%;  
  width: 100%;
  /* height: 100vh; */
/*   overflow: hidden; */
  font-family: 'Source Serif Pro', serif !important;
  .nav-button {
    color: #f8f8f7!important;
  }
  .nav-button:hover{
    color: #f0a500 !important;
  }
  .tabs-button{
    background-color: transparent !important;
  }
  .active{
    color: #091b29 !important;
  }
   .signup{
    background-color:rgba($color:#091b29,$alpha: .5) !important;;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }  

 }
