.paginationContainer {
  margin: 0 !important;
  color: #091b29;
  background-color: transparent!important;
  }
  .pageLink {
    border: none!important;
    background-color: #fff !important;
    color: #091b29 !important;
    font-size: larger !important;
  }
  .active{
    border-bottom: 2px solid #091b29 !important;
  color: #091b29 !important;
  }
  .pageItem{
    background-color: #fff !important;
    color: #091b29 !important;
    border: 1px solid #091b29 !important ;
  }
 /*  .container{
    background-color: #fff!important;
  
    //background-image: linear-gradient(145deg, #ff6464 0%, #87bce5 50%,#ff6464 100%);
  } */
  .homeBody{
margin: 0 !important;
    //background-image: linear-gradient(145deg,   #091b29 0%, #f0a500 50%,#091b29 100%);
    background-color: #f8f8f7!important;
  }
  .slider{
    color: #091b29 !important;
  } 
  /* @media only screen and (max-width: 576px) {
    .colsDesign {
      width: 80% !important;
    }
  } */
   @media (max-width: 575.98px) { 
    .colsDesign {
      width: 75% !important;
      margin: auto !important;
    }
   } 
  /* .stars{
    //margin-top: 1rem;
    //margin-left: .75rem;
  } */

  //#f0a500 
  //#9f0000        #ff6464
  //#091b29        #87bce5