@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
}
@mixin responsive($size) {
  $phone: 568px;
  $tablet: 768px;
  @if ($size == small) {
    @media screen and (max-width: $phone) {
      @content;
    }
  }
  @if ($size == medium) {
    @media screen and (max-width: $tablet) {
      @content;
    }
  }
}
.sellerInfContainer {
  background-color: #f8f8f7;
  height: 20vh;
  @include flex-row();
  justify-content: space-around;
  align-items: center;
  @include responsive(small) {
    @include flex-col();
    align-items: flex-start;
    height: auto;
  }
  img {
    width: 100%;
    height: 100%;
     border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; 
}
  .textDark {
    color: #091b29 !important;
  }
  label {
    color: #091b29 !important;
  }
  .nameContainer {
    padding: 10px;
    align-self: center;
    > label {
      font-size: 1.2rem;
      font-weight: bold;
      padding-bottom: 7px;
    }
    div {
      @include flex-row();
      justify-content: space-between;
    }
    div label {
      color: #8f8f8f !important;
      font-size: 0.8rem;
    }
  }
  .cardInfo {
    padding: 10px;
    @include flex-row();
    align-items: center;
    .icon {
      margin-right: 8px;
      font-size: 35px;
      color: #091b29;
    }
    > div {
      @include flex-col();
      align-items: center;
    }
    label {
      color: #8f8f8f !important;
      font-size: 1rem;
    }
    h4 {
      color: #091b29 !important;
    }
  }
  .imgContainer{
    border-radius: 50%;
    border: 1px solid #091b29;
    padding: 2px;
    width: 6rem;
    height:6rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
}
